Flask==1.1.1
pylint==2.4.2
flask-sqlalchemy==2.4.1
pyjwt==1.7.1
pyyaml==5.1.2
elasticsearch>=6.0.0,<7.0.0 # Recommended by the official documentation
requests==2.22.0
python-dateutil
gunicorn==20.0.4
flask-cors==3.0.8
marshmallow==3.5.0
Flask-Caching==1.8.0
pylibmc==1.6.1
Flask-Limiter==1.2.1
psycopg2==2.8.5
pymemcache==3.1.0